<ion-card>

  <ion-card-header>
    <ion-card-title>Personajes</ion-card-title>
    <ion-card-subtitle>Ricky Morty</ion-card-subtitle>
  </ion-card-header>

  <ion-searchbar value=""></ion-searchbar>

  <ion-card-content>

    <ion-list>
      <ion-item *ngFor="let personaje of personajes">
        <ion-thumbnail slot="start">
          <img alt="Foto Personaje" src="{{personaje.image}}" />
        </ion-thumbnail>
        <ion-label (click)="irAPersonaje(personaje.id)">{{ personaje.name }}</ion-label>
    
        <ion-button slot="end" fill="outline" color="primary">
          <ion-icon name="heart" aria-label="Favorite"></ion-icon>
        </ion-button>
    
      </ion-item>
    </ion-list>

  </ion-card-content>
</ion-card>